h1 { 
                color: #666600;
                text-align: center;
            }

            nav a {
                color: 	#002633;
                text-align: center;
                border-style: solid;
                border-width: 2px;
                border-color: #cc6600;
            }

            body a:visited {
                color: #666600;
            }

            body a:hover {
                border-style: solid;
                border-width: 2px;
                border-color: #cc6600;
                background-color: #cc3300;
                font-family: monospace;
                font-size: 150%;
            }

            .box {
                height: 400px;
                width: 400px;
                padding: 100px;
                margin: 40px;
            }

            .container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                height: 500px;
                width: 100%
            }

            body {
                background-color: #fcfccf;
                text-align: center;
            }

            section {
                padding: 20px;
            }

            .purple-text {
                color: #4a0f4a;
            }

            h2 { 
                color: #666600;
                text-decoration: underline;
            }

            h3 { 
                color: #666600;
            }

            h3:hover {
                background-color: #8fb9a7;
                font-family: monospace;
                font-size: 200%
            }

            h3 {
                transition-property: font-size;
                transition-duration: 3s;
                transition-timing-function: ease-in;
            }

            p {
                width: 400px;
                text-align: center;
                color: #330000;
            }

            p:hover {
                background-color: #8fb9a7;
                font-size: 150%;
            }

            p {
                transition-property: font-size;
                transition-duration: 3s;
                transition-timing-function: ease-in;
            }

            article a:visited {
                color: #ce7d03;
            }
            
            img:hover {
                -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
                filter: blur(5px);
            }

            img {
                transition-property: filter;
                transition-duration: 5s;
                transition-timing-function: ease-in;
            }

         